appdirs==1.4.4
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.2
Django==4.2.6
django-boost==2.1
django-markdownx==4.0.5
frozendict==2.3.8
html5lib==1.1
idna==3.4
lxml==4.9.3
Markdown==3.5
multitasking==0.0.11
numpy==1.26.0
pandas==2.1.1
pandas-datareader==0.10.0
peewee==3.17.0
Pillow==9.5.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
ua-parser==0.18.0
urllib3==2.1.0
user-agents==2.2.0
webencodings==0.5.1
yfinance==0.2.31
ExchangeLibrary @ git+https://github.com/h-akira/ExchangeLibrary.git@85a973bad8d3d2e1a5e92565f13f80be092249d0
