{% extends 'base.html' %}
{% load static %}
{% block title %}日記{% endblock title %}
{% block extra_css %}
{% if option == "edit" %}
<link rel="stylesheet" href="{% static 'css/textarea.css' %}">
{% endif %}
<link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
{% endblock extra_css %}
{% block content %}
<h2 class="title is-2 has-text-centered">
  {% if option == "edit" %}
  {{ str_date }}（{{ str_weekday }}）
  {% else %}
  <a href="{% url 'diary:detail' str_prev_date %}"> << </a>
  {{ str_date }}（{{ str_weekday }}）
  <a href="{% url 'diary:detail' str_next_date %}"> >> </a>
  {% endif %}
</h2>
<div class="columns">
  <div class="column is-two-thirds" id="includeChart">
    {% if future %}
    <p>※未来のデータは存在しません．</p>
    {% elif str_weekday == "土" or str_weekday == "日" %}
    <p>※週末</p>
    {% elif is_data %}
    <select id="currencyPairSelect">
      <option value="USDJPY" selected>USDJPY</option>
      <option value="EURJPY">EURJPY</option>
      <option value="EURUSD">EURUSD</option>
      <option value="GBPJPY">GBPJPY</option>
      <option value="AUDJPY">AUDJPY</option>
    </select>
    <select id="timeframeSelect">
      <option value="1T">1分足</option>
      <option value="5T">5分足</option>
      <option value="10T">10分足</option>
      <option value="15T" selected>15分足</option>
      <option value="30T">30分足</option>
      <option value="1H">1時間足</option>
      <option value="4H">4時間足</option>
    </select>
    SMA(9, 20, 60) and Bollinger Bands(20, 2 and 3)
    <div
      id="container"
      style="width: 100%; height: 600px"
      class="content"
     ></div>
    {% else %}
    <p>
      ※データがまだ追加されていないため外部のウィジェットを表示します．
    </p>
    {% include 'diary/USDJPY15T.html' %}
    {% endif %}
    <h2 class="title is-2 has-text-centered">
      経済カレンダー
    </h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>時間</th>
          <th>国</th>
          <th>イベント名</th>
          <th>重要度</th>
          <th>予想</th>
          <th>前回</th>
          <th>結果</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event.time }}</td>
          <td>{{ event.country_jp_full }}</td>
          <td>{{ event.name }}</td>
          <td>{{ event.importance }}</td>
          <td>{{ event.prediction }}</td>
          <td>{{ event.previous }}</td>
          <td>{{ event.result }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="column">
    {% if option == "edit" %}
    {% if type == "create" %}
    <form class="" action="{% url 'diary:create' str_date %}" method="post">
    {% elif type == "update" %}
    <form class="" action="{% url 'diary:update' str_date %}" method="post">
    {% else %}
    <form class="" action="{% url 'diary:update' str_date %}" method="post">
    {% endif %}
      {% csrf_token %}
      <div class="has-text-right">
        {% if type == "create" %}
        <button type="submit" class="button is-link is-outlined">登録</button>
        {% elif type == "update" %}
        <button type="submit" class="button is-link is-outlined">更新</button>
        <a class="button js-modal-trigger is-danger is-outlined" data-target="delete">
          削除
        </a>
        {% else %}
        <button type="submit" class="button is-link is-outlined">登録</button>
        {% endif %}
      </div>
      <div class="padding-bottom-10">
        <div class="temporary-height">{{ form.text }}</div>
      </div>
      {{ form.media }}
      {% if type == "update" %}
      {% include 'diary/delete_modal.html' %}
      {% endif %}
    </form>
    {% else %}
    <div class="card card-bordered">
      <div class="card-content content">
        {# <h4 class="title is-4 has-text-centered">日記</h4> #}
        {% if obj == None %}
        <div class="padding-bottom-10">日記が存在しません．</div>
        <a href="{% url 'diary:detail' str_date "edit" %}" class="button is-link is-outlined">作成</a>
        {% else %}
        <div class="padding-all markdownx">{{ obj.get_text_markdownx | safe }}</div>
        <a href="{% url 'diary:detail' str_date "edit" %}" class="button is-link is-outlined">編集</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block extra_js %}
{% if is_data %}
<script
    type="text/javascript"
    src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"
></script>
<script>
  let FETCH_URL_DATA = "/api/get_data_by_date/{{ str_date }}/USDJPY/15T/";
  let STR_DATE = "{{ str_date }}";
</script>
<script src="{% static 'js/tradingView.js' %}"></script>
{% else %}
<script src="{% static 'js/changeSymbol.js' %}"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% if option == "edit" %}
<script src="{% static 'js/textarea.js' %}"></script>
{% endif %}
{%if type == "update" %}
<script src="{% static 'js/modal.js' %}"></script>
{% endif %}
{% endblock extra_js %}
