<select id="currencyPairSelect">
  <option value="USDJPY" selected>USDJPY</option>
  <option value="EURJPY">EURJPY</option>
  <option value="EURUSD">EURUSD</option>
  <option value="GBPJPY">GBPJPY</option>
  <option value="GBPUSD">GBPUSD</option>
  <option value="AUDJPY">AUDJPY</option>
  <option value="AUDUSD">AUDUSD</option>
  <option value="^N225">N225</option>
  <option value="^DJI">DJI</option>
  <option value="^TNX">TNX</option>
</select>
<select id="timeframeSelect">
  <option value="1T">1分足</option>
  <option value="5T">5分足</option>
  <option value="10T">10分足</option>
  <option value="15T" selected>15分足</option>
  <option value="30T">30分足</option>
  <option value="1H">1時間足</option>
  <option value="4H">4時間足</option>
  <option value="1D">日足</option>
</select>
SMA(9, 20, 60) and Bollinger Bands(20, 2 and 3),
Data from <span id="sourceDisplay">..</span>.
<div
  id="container"
  style="width: 100%; height: 600px;"
  class="content"
 ></div>
<div
  id="resizer"
  style="height: 10px; background: #ccc; cursor: ns-resize;"
></div>
