{% load static %}
<!doctype html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- Extra CSS -->
		{% block extra_css %}{% endblock extra_css %}
    
    <title>{% block title %}{% endblock title %}</title>
  </head>
	<body>  
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation" style="width: 100%;">
      <div class="navbar-brand">
        {# <a class="navbar-item" href="https://bulma.io"> #}
          {# <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> #}
        {# </a> #}
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{% url 'home:index' %}">ホーム</a>
          <a class="navbar-item" href="{% url 'diary:index' %}">カレンダー</a>
          <a class="navbar-item" href="{% url 'chart:index' %}">チャート</a>
          <a class="navbar-item sidebar-toggle" role="button">外部リンク</a>
        </div>
        <div class="navbar-end">
          {% if user.is_authenticated %}
          <a class="navbar-item" href="{% url 'logout' %}">{{ user }} - Logout</a>
          {% else %}
          <a href="{% url 'login' %}" class="navbar-item">
            Log in
          </a>
          <a href="{% url 'accounts:signup' %}" class="navbar-item">
            Sign up
          </a>
          {% endif %}
        </div>
      </div>
    </nav>

    <aside id="sidebar" class="sidebar">
      <div class="has-background-grey-dark has-text-white">
        <div class="padding-all">
          <div class="container">
            <div class="columns no-margin is-mobile">
              <div class="column is-narrow">
                外部リンク一覧
              </div>
              <div class="column has-text-right">
                <button class="button sidebar-toggle delete is-dark"></button>
              </div>
            </div>
          </div>
        <p>
          <a href="https://jp.tradingview.com/markets/currencies/" class="a-white" target="_blank" rel="noopener noreferrer">
            TradingView為替市場
          </a>
        </p>
        <p>
          <a href="https://jp.tradingview.com/symbols/TVC-US10Y/" class="a-white" target="_blank" rel="noopener noreferrer">
            TradingView米国債10年物利回り
          </a>
        </p>
        <p>
          <a href="https://www.gaitame.com/markets/order/" class="a-white" target="_blank" rel="noopener noreferrer">
            外為ドットコム外為注文情報・板情報
          </a>
        </p>
        <p>
          <a href="https://www.gaitame.com/markets/imm.html" class="a-white" target="_blank" rel="noopener noreferrer">
            外為ドットコムIMMポジション
          </a>
        </p>
        <p>
          <a href="https://www.oanda.jp/lab-education/oanda_lab/oanda_rab/imm/" class="a-white" target="_blank" rel="noopener noreferrer">
            OANDA証券IMMポジション
          </a>
        </p>
        </div>
      </div>
    </aside>
    <div class="padding-all">
		  {% block content %}{% endblock content %}
    </div>
    <!-- Custom JS --> 
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <!-- Extra JS -->
		{% block extra_js %}{% endblock extra_js %}
  </body>
</html>
