{% extends 'base.html' %}
{% load static %}
{% block title %}経済イベント詳細{% endblock title %}
{% block extra_css %}
{% if option == "edit" %}
<link rel="stylesheet" href="{% static 'css/textarea.css' %}">
{% endif %}
<link rel="stylesheet"href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
{% endblock extra_css %}
{% block content %}
<h2 class="title is-2 has-text-centered">
  【{{event.country_jp_full}}】{{ event.name }}
</h2>
<h4 class="title is-4 has-text-centered">
  {{ str_date }}（{{ str_weekday }}）{{ event.time }}
</h4>
<p class="has-text-centered">
  重要度：{{ event.importance }}，予想：{{ event.prediction }}，前回：{{ event.previous }}，結果：{{ event.result }}
</p>
<div class="columns">
  <div class="column is-two-thirds" id="includeChart">
    {% if future %}
    <p>※未来のデータは存在しません．</p>
    {% elif is_data %}
    <select id="currencyPairSelect">
      <option value="USDJPY" selected>USDJPY</option>
      <option value="EURJPY">EURJPY</option>
      <option value="EURUSD">EURUSD</option>
      <option value="GBPJPY">GBPJPY</option>
      <option value="GBPUSD">GBPUSD</option>
      <option value="EURGBP">EURGBP</option>
      <option value="AUDJPY">AUDJPY</option>
      <option value="AUDUSD">AUDUSD</option>
      <option value="^N225">N225</option>
      <option value="^DJI">DJI</option>
      <option value="^TNX">TNX</option>
    </select>
    <select id="timeframeSelect">
      {% if min_interval == "1T" %}
      <option value="1T" selected>1分足</option>
      <option value="5T">5分足</option>
      <option value="10T">10分足</option>
      <option value="15T" >15分足</option>
      {% elif min_interval == "5T" %}
      <option value="5T" selected>5分足</option>
      <option value="15T" >15分足</option>
      {% elif min_interval == "15T" %}
      <option value="15T" selected>15分足</option>
      <option value="1H">1時間足</option>
      {% endif %}
    </select>
    SMA(9, 20, 60) and Bollinger Bands(20, 2 and 3),
    Data from <span id="sourceDisplay">..</span>.
    <div
      id="container"
      style="width: 100%; height: 600px;"
      class="content"
     ></div>
    <div
      id="resizer"
      style="height: 10px; background: #ccc; cursor: ns-resize;"
    ></div>
    <br>
    {% else %}
    <p>
      ※時刻が不明なためデータを取得できません．
    </p>
    {% endif %}
  </div>
  <div class="column">
    {% if option == "edit" %}
    {% if type == "create" %}
    <form class="" action="{% url 'events:create' event.id %}" method="post">
    {% elif type == "update" %}
    <form class="" action="{% url 'events:update' event.id %}" method="post">
    {% else %}
    <form class="" action="{% url 'events:update' event.id %}" method="post">
    {% endif %}
      {% csrf_token %}
      <div class="has-text-right">
        {% if type == "create" %}
        <button type="submit" class="button is-link is-outlined">登録</button>
        {% elif type == "update" %}
        <button type="submit" class="button is-link is-outlined">更新</button>
        <a class="button js-modal-trigger is-danger is-outlined" data-target="delete">
          削除
        </a>
        {% else %}
        <button type="submit" class="button is-link is-outlined">登録</button>
        {% endif %}
      </div>
      <div class="padding-bottom-10">
        <div class="temporary-height">{{ form.text }}</div>
      </div>
      {{ form.media }}
      {% if type == "update" %}
      {% include 'events/delete_modal.html' %}
      {% endif %}
    </form>
    {% else %}
    <div class="card card-bordered">
      <div class="card-content content">
        {# <h4 class="title is-4 has-text-centered">日記</h4> #}
        {% if comment == None %}
        <div class="padding-bottom-10">コメントが存在しません．</div>
        <a href="{% url 'events:detail' event.id "edit" %}" class="button is-link is-outlined">作成</a>
        {% else %}
        <div class="padding-all markdownx">{{ comment.get_text_markdownx | safe }}</div>
        <a href="{% url 'events:detail' event.id "edit" %}" class="button is-link is-outlined">編集</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
{% block extra_js %}
{% if is_data %}
<script
    type="text/javascript"
    src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"
></script>
<script>
  let FETCH_URL_DATA = "/api/get_data_by_event/{{ event.id }}/USDJPY/{{ min_interval }}/";
  let STR_ID = "{{ event.id }}";
</script>
<script src="{% static 'js/myChart_by_event.js' %}"></script>
{% else %}
<script src="{% static 'js/widget.js' %}"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% if option == "edit" %}
<script src="{% static 'js/textarea.js' %}"></script>
{% endif %}
{%if type == "update" %}
<script src="{% static 'js/modal.js' %}"></script>
{% endif %}
{% endblock extra_js %}
